@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration globale propre */
body {
  background-color: #f0f2f5;
  color: #2d3436;
  -webkit-font-smoothing: antialiased; /* Rend le texte plus net */
}

/* Scrollbar invisible mais fonctionnelle pour un look épuré */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #b2bec3; 
  border-radius: 10px;
}
